#!/bin/sh
# WARNING! This file should not be executed directly.
# Shebang here is for shellcheck.
#
# ~/.xprofile
#
# sourced by /etc/gdm/Xsession
#
# Allows you to execute commands at the beginning
# of the X user session - before the WM is started.
#
# WARNING! This file should only contain
# POSIX-compliant commands and directives.
# Providing, for example, bash-specific commands will result
# in X server crash.

# Set timeout
xset dpms 0 0 1800
xset s off

# Setup X screen and scaling
if [[ $(hostname) = "framework" ]]; then
    xrandr --dpi 144
elif [[ $(hostname) = "GLaDOS" ]]; then
    xrandr --dpi 160 --output DisplayPort-0 --primary
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.5
elif [[ $(hostname) = "chell" ]]; then
    xrandr --dpi 94.1 --output HDMI-A-0 --primary
fi

# Detect external monitors
xrandr-reload

# Setup gnome-keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Setup default apps for xdg-open
export BROWSER=vivaldi-stable

# Set wallpaper
$HOME/.fehbg

# Set theme for QT5 apps
export QT_QPA_PLATFORMTHEME=qt5ct

# Setup IME
if pacman -Q fcitx5; then
    export GTK_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx
    export XMODIFIERS=@im=fcitx

    fcitx5 &
fi
