[X Keyboard]
# Erlaube die XKB-Einstellungen zu ignorieren
# Mögliche Werte:
# True False
#OverrideSystemXKBSettings=True
# Benutzen des ersten Tastatureingabemethode in der Liste als Standardlayout.
# Mögliche Werte:
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# xmodmap Befehl
#XModmapCommand=xmodmap
# Dieses xmodmap script anwenden, nachdem das Layout gewechselt wurde
#CustomXModmapScript=

