[IMSelector]
# Taste zur Auswahl der lokalen Eingabemethode
#LocalInputMethodSelectKey=
# Auswahltaste für die globale Eingabemethode
#GlobalInputMethodSelectKey=
# Lokale Eingabemethode zurücksetzen
#ClearLocal=

[GlobalSelector]
# Zur ersten Eingabemethode wechseln
#IM1=
# Zur zweiten Eingabemethode wechseln
#IM2=
# Zur dritten Eingabemethode wechseln
#IM3=
# Zur vierten Eingabemethode wechseln
#IM4=
# Zur fünften Eingabemethode wechseln
#IM5=
# Zur sechsten Eingabemethode wechseln
#IM6=
# Zur siebten Eingabemethode wechseln
#IM7=
# Zur achten Eingabemethode wechseln
#IM8=
# Zur neunten Eingabemethode wechseln
#IM9=

[LocalSelector]
# Zur ersten Eingabemethode wechseln
#IM1=
# Zur zweiten Eingabemethode wechseln
#IM2=
# Zur dritten Eingabemethode wechseln
#IM3=
# Zur vierten Eingabemethode wechseln
#IM4=
# Zur fünften Eingabemethode wechseln
#IM5=
# Zur sechsten Eingabemethode wechseln
#IM6=
# Zur siebten Eingabemethode wechseln
#IM7=
# Zur achten Eingabemethode wechseln
#IM8=
# Zur neunten Eingabemethode wechseln
#IM9=

