[Keyboard]
# Auswahl eines Kandidaten zusätzlich mit SPACE bestätigen
# Mögliche Werte:
# True False
#CommitWithExtraSpace=False
# Funktionstaste wählen
# Mögliche Werte:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# Worthinweis An/Aus
#HotkeyToggleWordHint=CTRL_ALT_H
# Minimale Länge um Wordtip zu bekommen
#MinimumHintLength=1
# Maximale Anzahl von Wortvorschlägen
#MaximumHintLength=5
# Benutzte ENTER um den existierenden String zu bestätigen
# Mögliche Werte:
# True False
#UseEnterToCommit=False
# Aktuellen Eingabespeicher in das Benutzerlexikon übernehmen
#HotkeyAddToUserDict=CTRL_ALT_N

