[QuickPhrase]
# Trigger Key für QuickPhrase
# Mögliche Werte:
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# Alternative Tastenkombination für Quickphrase
#AlternativeTriggerKey=
# Funktionstaste wählen
# Mögliche Werte:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Keinen Rechtsschreibungshinweis zeigen
# Mögliche Werte:
# True False
#DisableSpell=False
# Maximale Hinweislänge
#MaximumHintLength=2

