[Clipboard]
# Zwischenablagenverlauf in Datei sichern
# Mögliche Werte:
# True False
#SaveHistoryToFile=True
# Länge des zu sichernden Zwischenablageverlaufs
#HistoryLength=5
# Maximale Länge der Kandidaten
#CandidateMaxLength=43
# Auswahltaste für den Zwischenablageverlauf
#TriggerKey=CTRL_;
# Ausgewählten Text benutzen
# Mögliche Werte:
# True False
#UsePrimary=True
# Funktionstaste wählen
# Mögliche Werte:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Leere Auswahl ignorieren
# Mögliche Werte:
# True False
#IgnoreBlank=True

