[ClassicUI]
# Status Panel Position X
#MainWindowOffsetX=500
# Status Panel Position Y
#MainWindowOffsetY=40
# Fontgröße
#FontSize=0
# Font
Font=Roboto
# Font Menu
MenuFont=Roboto
# Locale anzeigen
#FontLocale=zh_CN.UTF-8
# Systemtray benutzen
# Mögliche Werte:
# True False
#UseTray=True
# Modus Status Panel verbergen 
# Mögliche Werte:
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# Senkrechte Kandidatenliste
# Mögliche Werte:
# True False
#VerticalList=False
# Name Skin
SkinType=dark

