[Pinyin Enhance]
# Gekürztes Pinyin als Englisch bearbeiten
# Mögliche Werte:
# True False
#ShortAsEnglish=False
# Zulassen, den ersten Kandidaten zu ersetzen
# Mögliche Werte:
# True False
#AllowReplaceFirst=True
# Keinen Rechtsschreibungshinweis zeigen
# Mögliche Werte:
# True False
#DisableSpell=False
# Maximale Hinweislänge
#MaximumHintLength=1
# Hotkey zur Eingabe eines Zeichens aus einer Phrase
#InputCharFromPhraseString=[]
# Hotkey, um vom Phrasenmodus zum Zeicheneingabemodus zu wechseln
#InputCharFromPhraseKey=
# Symbol für Pinyin deaktivieren
# Mögliche Werte:
# True False
#DisableSym=False
# Stricheingabe Aktivierungslänge
#StrokeThresh=2
# Maximale Anzahl Ergebnisse bei Stricheingabe
#StrokeLimit=3

