[Hangul]
# Tastaturlayout
# Mögliche Werte:
# Dubeolsik
# Dubeolsik Yetgeul
# Sebeolsik 390
# Sebeolsik Final
# Sebeolsik Noshift
# Sebeolsik Yetgeul
# Sebeolsik Dubeol Layout
# Romaja
# Ahnmatae
#Keyboard=Dubeolsik
# Hanja Modus Umschalttaste
#HanjaModeToggleKey=HANGULHANJA F9
# Automatisch neu sortieren
# Mögliche Werte:
# True False
#AutoReorder=True
# Wort übergeben
# Mögliche Werte:
# True False
#WordCommit=False
# Hanja Modus
# Mögliche Werte:
# True False
#HanjaMode=False

