[Auto English]
# Funktionstaste wählen
# Mögliche Werte:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# Keinen Rechtsschreibungshinweis zeigen
# Mögliche Werte:
# True False
#DisableSpell=False
# Maximale Hinweislänge
#MaximumHintLength=2
# Maximale Anzahl Wörter, die im Preeditstring gehalten werden
#MaximumKeep=3
# Extra SPACE hinzufügen, um einen Kandidaten auszuwählen
# Mögliche Werte:
# True False
#SelectAddSpace=True

