#!/bin/sh
# WARNING! This file should not be executed directly.
# Shebang here is for shellcheck.
#
# ~/.xprofile
#
# sourced by /etc/gdm/Xsession
#
# Allows you to execute commands at the beginning
# of the X user session - before the WM is started.
#
# WARNING! This file should only contain
# POSIX-compliant commands and directives.
# Providing, for example, bash-specific commands will result
# in X server crash.

# Set timeout
xset dpms 0 0 1800
xset s off

# Set scaling
if [[ $(hostname) = "xps13" ]]; then
    xrandr --dpi 166
    export DMENU_HEIGHT=27
elif [[ $(hostname) = "GLaDOS" ]]; then
    xrandr --dpi 160
    export DMENU_HEIGHT=25
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.5
elif [[ $(hostname) = "chell" ]]; then
    xrandr --dpi 160
    export DMENU_HEIGHT=26
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.5
    #xrandr --dpi 94
    #export DMENU_HEIGHT=24
else
    export DMENU_HEIGHT=25
fi

# Setup gnome-keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Set wallpaper
$HOME/.fehbg

# Set theme for QT5 apps
export QT_QPA_PLATFORMTHEME=qt5ct

# Setup IME
if pacman -Q fcitx; then
    export GTK_IM_MODULE=fcitx
    export QT_IM_MODULE=fcitx
    export XMODIFIERS=@im=fcitx

    fcitx &
fi
