Xft.antialias: 1
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.autohint: 0

#ifdef SRVR_chell
    Xft.dpi: 160
    Xft.hintstyle: hintfull
    i3wm.dialog.small.width: 960
    i3wm.dialog.small.height: 540
    i3wm.dialog.medium.width: 2560
    i3wm.dialog.medium.height: 1600
    i3wm.dialog.large.width: 3600
    i3wm.dialog.large.height: 2000
    i3wm.dialog.emulator.width: 600
    i3wm.dialog.emulator.height: 1195
    rofi.dpi: 160
#endif

#ifdef SRVR_xps13
    Xft.dpi: 120
    rofi.dpi: 120
#endif
